[submodule "week-1/day-1/CodeCraft-Form-Task"]
	path = week-1/day-1/CodeCraft-Form-Task
	url = https://github.com/irfansubasi/CodeCraft-Form-Task.git
[submodule "week-1/day-2/CodeCraft-Form-Style-Task"]
	path = week-1/day-2/CodeCraft-Form-Style-Task
	url = https://github.com/irfansubasi/CodeCraft-Form-Style-Task.git
[submodule "week-1/day-3/CodeCraft-Product-Showcase"]
	path = week-1/day-3/CodeCraft-Product-Showcase
	url = https://github.com/irfansubasi/CodeCraft-Product-Showcase.git
[submodule "week-1/week-project/CodeCraft-Black-Mirror"]
	path = week-1/week-project/CodeCraft-Black-Mirror
	url = https://github.com/irfansubasi/CodeCraft-Black-Mirror.git
[submodule "week-2/day-1/CodeCraft-Simple-Shopping-Card-Js"]
	path = week-2/day-1/CodeCraft-Simple-Shopping-Card-Js
	url = https://github.com/irfansubasi/CodeCraft-Simple-Shopping-Card-Js.git
[submodule "week-2/day-2/CodeCraft-Longest-Collatz-Sequence"]
	path = week-2/day-2/CodeCraft-Longest-Collatz-Sequence
	url = https://github.com/irfansubasi/CodeCraft-Longest-Collatz-Sequence.git
[submodule "week-2/day-3/Codecraft-Timer"]
	path = week-2/day-3/Codecraft-Timer
	url = https://github.com/irfansubasi/Codecraft-Timer.git
[submodule "week-2/week-project/CodeCraft-RPG-ToDo-List"]
	path = week-2/week-project/CodeCraft-RPG-ToDo-List
	url = https://github.com/irfansubasi/CodeCraft-RPG-ToDo-List
[submodule "week-3/day-1/CodeCraft-Simple-jQuery-Student-Management"]
	path = week-3/day-1/CodeCraft-Simple-jQuery-Student-Management
	url = https://github.com/irfansubasi/CodeCraft-Simple-jQuery-Student-Management.git
